<section class="dashboard">
  <h1>Stats</h1>
  <div class="cards">
    <div class="card">
      <div class="card__title">Previous Best</div>
      <div class="card__stat">{{session.user.highest_streak}} Days</div>
    </div>
    <div class="card">
      <div class="card__title">Current Streak</div>
      <div class="card__stat">{{session.user.day_streak_count}} Days</div>
    </div>
    <div class="card">
      <div class="card__title">Challenges Completed</div>
      <div class="card__stat">{{pointsToChallenges session.user.points session.user.level}}</div>
    </div>
    <div class="card">
      <div class="card__title">Level</div>
      <div class="card__stat">{{session.user.level}}</div>
    </div>
  </div>
  <div class="progress-bar" style="--percentage: {{pointsToPercentage session.user.points}}%; --level: {{session.user.level}}">
    <span class="progress"></span>
    <span class="l-label">Level {{session.user.level}}</span>
    <spa class="r-label">Level {{addOne session.user.level}}</spa>
  </div>
  <div class="btn-container">
    <form method="post" action="/increment">
      <button class="btn">I Did My Task!</button>
    </form>
    <a href="/interact">Interact With My Pet</a>
    <a href="/rewards">View Rewards</a>
  </div>
</section>

{{status}}
{{#if noThanks}}
  <script>
    alert("Task already completed for today!");
  </script>
{{/if}}