<section class="dashboard">
  <h1>Stats</h1>
  <div class="cards">
    <div class="card">
      <div class="card__title">Previous Best</div>
      <div class="card__stat">{{session.user.highest_streak}} Days</div>
    </div>
    <div class="card">
      <div class="card__title">Current Streak</div>
      <div class="card__stat">{{session.user.day_streak_count}} Days</div>
    </div>
    <div class="card">
      <div class="card__title">Challenges Completed</div>
      <div class="card__stat">{{pointsToChallenges session.user.points}}</div>
    </div>
    <div class="card">
      <div class="card__title">Level</div>
      <div class="card__stat">{{session.user.level}}</div>
    </div>
  </div>
  <div class="progress-bar" style="--percentage: {{pointsToPercentage session.user.points}}%">
    <span class="progress"></span>
  </div>
  <div class="btn-container">
    <a href="#" class="btn">I Did My Task!</a>
    <a href="/rewards">View Rewards</a>
  </div>
</section>